<Template name="assessmentCenter">
  <div class='assessmentCenter'>
    {{#if assessmentsCount}}
      {{#if Template.subscriptionsReady}}
        <div id="createAssessmentGroup" class="btn-group">
            <button class="btn btn-default btn-xs disabled">
              Create: 
            </button>
            {{#if isInRole 'teacher'}}
              <button class="btn btn-primary createAssessment">Assessment</button>
            {{/if}}
            {{#if viewingAsStudent}}
              <button class="btn btn-primary createReassessment">Reassessment for {{getname impersonatedOrUserID 'full'}}</button>
            {{/if}}
        </div>
        {{#with activeAssessment}}
          <div class="assessmentCenterTitle">
            <h4>
              Assessment {{assessmentNumber}} of {{assessmentsCount}}
            </h4>
            <div id="assessmentCenterControls">
              <i class="fa fa-fast-backward"></i>
              <i class="fa fa-step-backward"></i>
              <i class="fa fa-step-forward"></i>
              <i class="fa fa-fast-forward"></i>
            </div>
          </div>
          {{>assessment}}
        {{/with}}
      {{else}}
        {{>noAssessments title="<h4 class='bg-info'> Loading assessments ... </h4>"}}
      {{/if}}
    {{else}}
      {{#if currentUser}}
        {{#if Template.subscriptionsReady}}
          {{>noAssessments title="<h4 class='bg-info'>No assessments found.</h4>"}}
        {{else}}
          {{>noAssessments title="<h4 class='bg-info'> Loading assessments ... </h4>"}}
        {{/if}}
      {{else}}
        {{>noAssessments title="<h4 class='bg-info'>Logged out.</h4>"}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="assessment">
  <div class="panel panel-default row">
    <div class="panel-heading text-center clearfix">
      {{#if canEditAssessment}}
        <div class='pull-right'>
          <button class="btn btn-default editAssessment {{editDone}} pull-right">
            {{editDone}}
          </button>
        </div>
      {{/if}}
      {{#if editingAssessment}}
        {{>summernote collection='Assessments' field='title' _id=_id enabled=editingAssessment options=summernoteTitleOptions}}
      {{else}}
        {{{title}}}
      {{/if}}
    </div>
    <div class="panel-body">
      {{#if editingAssessment}}
        {{>summernote collection='Assessments' field='text' _id=_id enabled=editingAssessment options=summernoteOptions}}
      {{else}}
        {{{text}}}
      {{/if}}
    </div>
    <div class="panel-footer">
    {{#if editingAssessment}}
      {{#if isInRole 'teacher'}}
        {{>showHide collection='Assessments' itemName='assessment' item=this}}
      {{/if}}
      {{#with assessmentDate}}
        {{>editAssessmentDate}}
      {{/with}}
      <li class="dropdown assessmentSelectUnit">
        <a class="dropdown-toggle text-grey" data-toggle="dropdown">
          {{#with unit}}
            {{{title}}}
          {{/with}}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {{#each units}}
            {{> unitSelector}}
          {{/each}}
        </ul>
      </li>
    {{else}}
      {{#with assessmentDate}}
        <span>deadline: {{formatDateTime testDate}}</span>
      {{/with}}
      {{#with unit}}
        <br/><span>Reminder placed in {{title}} on activity page</span>
      {{/with}}
    {{/if}}

    </div>
  </div>
</template>  

<template name="noAssessments">
  <div id="createAssessmentGroup" class="btn-group">
      <button class="btn btn-default btn-xs disabled">
          Create: 
      </button>
      {{#if isInRole 'teacher'}}
        <button class="btn btn-primary createAssessment">Assessment</button>
      {{/if}}
      {{#if viewingAsStudent}}
        <button class="btn btn-primary createReassessment">Reassessment for {{getname impersonatedOrUserID 'full'}}</button>
      {{/if}}
  </div>
  {{{title}}}
  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="blockTitle">&nbsp;</div>
    </div>
    <div class="panel-body">
      {{#if isInRole 'teacher'}}
        <span>Create an assessment using one of the buttons above.</span>
      {{else}} {{#if isInRole 'student'}}
        <span>Assessments created by your teacher will show up in this area.  You can also create your own individual reassessment using the button above.</span>
      {{/if}}{{/if}}
    </div>
  </div>
</template>

<template name="editAssessmentDate">
  <span>deadline: {{formatDateTime testDate}}</span>
  {{#if section}}
    <div class='input-group date testDatePicker'>
      <input type='hidden' class="form-control" {{disabled}}/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar" title="Change test date."></span>
      </span>
    </div>
  {{/if}}
  {{#if isInRole 'teacher'}}
    {{#unless isReassessment}}
      <i class="fa fa-copy {{copyColor}}" data-toggle = "tooltip" title="{{copyMessage}}"></i>
    {{/unless}}
  {{/if}}
</template>

<template name="unitSelector">
  <li>
    <a href="#" class="unitSelector {{bgPrimary}}">
      {{{title}}}
    </a>
  </li>  
</template>