<template name = "grades">
  <!--{{#unless Template.subscriptionsReady}}
    <p class='bg-info'> Loading data for {{getname impersonatedOrUserId 'full'}}</p>
  {{/unless}}-->
  <div class='container-fluid'>
    <div class="row"> <!-- class="modal-body row" to scroll -->
      <div class='col-md-5'>
        <div id="showAssessmentGroup" class='btn-group'>
            <button class="btn btn-primary showAssessment {{assessmentsActive}}">Assessments</button>
            <button class="btn btn-primary showStandardGroups {{groupsActive}}">Groups of Standards</button>
        </div>
        <div id="createAssessmentGroup" class="btn-group">
            Create:
            {{#if isInRole 'teacher'}}
              <button class="btn btn-primary createASsessment">Assessment</button>
            {{/if}}
            <!-- if impersonatedOrUser is student -->
              <button class="btn btn-primary createReassessment">Reassessment for {{getname impersonatedOrUserID 'full'}}</button>>
            <!-- /if -->
        </div>
        <!-- create group button group and button -->
        {{>assessmentCenter}}
      </div>
      <div class='col-md-7'>
        {{> standardsList}}
      </div>
    </div>
  </div>
</template>


