.equal-height { /* makes bootstrap panels equal height so they wrap in distinct rows */
  display: flex;
  flex-wrap: wrap;
}
.validate-accounts .btn {
  margin-top: 5px;
}
#login-buttons-send-all-vemails {
  margin-top: 5px;
  margin-bottom: 5px;
}