.editWorkPeriod {
  display: inline-block;
}
.editWorkPeriod .input-group-addon {
  display: inline-block;
  padding: 0;
}
.editWorkPeriod .input-group.date {
  display: inline-block;
}
.editWorkPeriod i.fa-copy:hover {
  cursor: pointer;
}


.popover-default {
  background-color: #FBFBFB;
}
.popover-primary {
  background-color: #337AB7;
}
.popover-success {
  background-color: #DFF0D8;
}
.popover-info {
  background-color: #D9EDF7;
}
.popover-warning {
  background-color: #FCF8E3;
}
.popover-danger {
  background-color: #F2DEDE;
}
