<template name="modelSummary">
  <div id="modelSummary">  
    {{#with summary}}
      {{#with linkedActivity}}
        {{>activityItem}}
      {{/with}}
      <div class="block block-{{type}} panel panel-default row">
        <div class="panel-heading">
          <div class="blockTitle">{{{title}}}</div>
        </div>
        <div class="panel-body">
          {{#with image}}
            {{#if isImage}}
              <p class="file">
                <a href="/upload/{{path}}" target="_blank">
                  <img src="/upload/{{webSizePath}}" alt="{{name}}" width="640">
                </a>
              </p>
            {{else}}
              <a href="/upload{{path}}" target="_blank">
                {{name}}
              </a>
            {{/if}}
            <button class="btn btn-primary deleteSummaryImage"> 
              Delete Image
            </button>
          {{else}}
            <p>
              {{>upload_bootstrap multiple=false formData=formData callbacks=processUpload}}
            </p> 
          {{/with}}
          <p>
            <!--message here? also test for .jpg, .png, .gif, etc in validate callback and issue warning message in alert box-->
          </p>
        </div>
        <div class="panel-footer">
          {{#with image}}
            <span class="avoidwrap"> 
              Image uploaded by {{getname createdBy 'full'}} {{formatDateTime createdOn}}.
            </span>
          {{/with}}
        </div>
      </div>
    {{else}}
      {{#if currentUser}}
        {{#unless Template.subscriptionsReady}}
          {{>noSummary title="<h4 class='bg-info'> Loading summary ... </h4>"}}
        {{/unless}}
      {{else}}
        {{>noSummary title="<h4 class='bg-info'>Logged out.</h4>"}}
      {{/if}}
    {{/with}}
  </div>
</template>

<template name="noSummary">
  {{{title}}}
  <div class="block block-{{type}} panel panel-default">
    <div class="panel-heading">
        <div class="blockTitle">&nbsp;</div>
    </div>
    <div class="panel-body">
      <p> This space will display a summary of {{unitOrCourse}}. You will likely write your summary on a whiteboard, half of a single sheet of paper or one computer screen and submit a photograph, scan or screenshot.</p>
    </div>
  </div>
</template>