<template name = "openlab">
  <!--{{#unless studentSubscriptionLoaded}}
    <p class='bg-info'> Loading data for {{getname impersonatedOrUserId 'full'}}</p>
  {{/unless}}--> <!--deprecated July 4, 2016 -->
  <div class='container-fluid'>
    <div class="row"> <!-- class="modal-body row" to scroll -->
      <div class='col-md-5'>
        {{#with activeUnit}}
          {{>modelSummary}}
        {{else}}
          <!-- placeholder goes here? -->
        {{/with}}
        {{>slideShow}}
      </div>
	    <div class='col-md-7'>
        <div class='col-md-12'>
	       {{> activitiesList}}
        </div>
	    </div>
    </div>
  </div>
</template>


