<template name = "openlab">
  <div class='container-fluid'>
    <div id="unitNavigation">
      {{>unitNavigation}} 
    </div>
    <div class="row"> <!-- class="modal-body row" to scroll -->
      <div class='col-md-5'>
        <div id="selectSlidesSummaryMap" class='btn-group'>
            <button class="btn btn-primary showSlides {{slidesActive}}">Slides</button>
            <button class="btn btn-primary showSummary {{summaryActive}}">Unit Summary</button>
            <button class="btn btn-primary showConceptMap {{conceptMapActive}}">Course Summary</button>
            {{#if isInRole 'teacher'}}
              <button class="btn btn-primary showTeacherNotes {{teacherNotesActive}}">Teacher Notes</button>
            {{/if}}
        </div>
        {{#if showingConceptMap}}
          {{#with site}}
            {{>modelSummary}}
          {{/with}}
        {{else}} {{#if showingSummary}}
          {{#with activeUnit}}
            {{>modelSummary}}
          {{/with}}
        {{else}} {{#if showingSlides}}
          {{>slideShow}}
        {{else}} {{#if showingTeacherNotes}}
          {{#with activeUnit}}
            {{>teacherNotes}}
          {{/with}}
        {{/if}} {{/if}}  {{/if}} {{/if}}
      </div>
	    <div class='col-md-7'>
        <div class='col-md-12'>
          {{#with activeUnit}}
            {{> activityListHeader}}
	          {{> activityList}}
          {{/with}}
        </div>
	    </div>
    </div>
  </div>
</template>

<template name="teacherNotes">
  <div class="block block-{{type}} panel panel-default row">
    <div class="panel-heading">
      <div class="blockTitle">Teacher Notes for {{longname}} </div>
    </div>
    <div class="panel-body">
      {{>summernote collection='Units' field='teacherNotes' _id=_id enabled=true options=summernoteOptions}}
    </div>
    <div class="panel-footer">
      <br/>
    </div>
  </div>
</template>


