<Template name="slideShow">
  <div class='slideShow'>
    {{#if slidesCount}}
      {{#if Template.subscriptionsReady}}
        {{#with activeSlide}}
          <div class="slideShowTitle">
            <h4>
              Slide {{slideNumber}} of {{slidesCount}}
              {{#if hasMoreSlides}}
                <i class="fa fa-plus-square-o" title="load more"></i>
              {{/if}}
            </h4>
            <div id="slideShowStars">
              {{#if isInRole 'teacher'}}
                {{#if impersonatedId}}
                  me: 
                    {{#each teacherStars}}
                      <i class="fa fa-star {{yellow}}"></i>
                    {{/each}}
                  <br/>
                  {{getname impersonatedId 'first'}}:
                {{/if}}
              {{/if}}
              {{#each stars}}
                <i class="fa fa-star {{yellow}}"></i>
              {{/each}}
            </div>
            <div id="slideShowControls">
              <i class="fa fa-fast-backward"></i>
              <i class="fa fa-step-backward"></i>
              <i class="fa fa-step-forward"></i>
              <i class="fa fa-fast-forward"></i>
            </div>
          </div>
          {{> block}}
        {{/with}}
      {{else}}
        {{>noSlides title="<h4 class='bg-info'> Loading slides ... </h4>"}}
      {{/if}}
    {{else}}
      {{#if currentUser}}
        {{#if Template.subscriptionsReady}}
          {{>noSlides title='<h4>No slides found.</h4>'}}
        {{else}}
          {{>noSlides title="<h4 class='bg-info'> Loading slides ... </h4>"}}
        {{/if}}
      {{else}}
        {{>noSlides title="<h4 class='bg-info'>No slides.  Not logged in.</h4>"}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="noSlides">
  {{{title}}}
  <div class="block block-{{type}} panel panel-default">
    <div class="panel-heading">
        <div class="blockTitle">&nbsp;</div>
    </div>
    <div class="panel-body">
      <p> This slide show will display content from your student, group and section walls for this unit.</p>
    </div>
  </div>
</template>